body{
    padding: 160px;
    background-color: rgb(0, 0, 0);
    cursor: crosshair;
    transform: scale(1.0015);

}
#palavraOculta{
    font-size: 75px;
    margin: 10px;
    letter-spacing: 7.5px;
    color: #ffffff;
    background: #000000;
    text-shadow: 2px 2px 0 #4d4d4d, 3px 3px 0 #555555;
    color: #ffffff;
    background: #000000;
}
h1{
    text-align: center;
    padding-top: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 2px 0 #444444;
    color: rgb(255, 255, 255);
}

#interacoes, div, #palavraOculta{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color:white;    
}

button:hover, input:hover{
    background-color: #000000;
    color: #ffffff;
}

#botao-reinicio{
    cursor:pointer;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 42.8px;
}
#botao, #botao-reinicio, input{
    cursor:pointer;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 42.8px;
}

input::placeholder{
    text-transform: none;
}
input{
    text-transform: uppercase;
    text-align: center;
    font-weight: 60px;
    border: none;
    border-style: solid;
    border-color: #000000;
    width: 75px;
    height: 40px;
}

#palavraOculta, h1, button:hover, input:hover, input::placeholder, input, #interacoes, p{
    scale: 1.01;
}
